@tailwind base;
@tailwind components;
@tailwind utilities;

/*terms-and-condition Page*/
section.terms-and-condition-header div.header {
  height: 300px;
  grid-template-columns: 6fr 1fr;
  display: grid;
  background: #10b981;
}

section.terms-and-condition-header div.header h1 {
  padding-left: 9rem;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;

  color: #ffffff;
}

section.terms-and-condition-header div.header h4 {
  padding-left: 9rem;
  padding-top: 5rem;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 37px;
  color: #ffffff;
}

section.terms-and-condition-header div.header p {
  padding-left: 9rem;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;

  color: #ffffff;
}

section.terms-and-condition-header div.header div.image {
  padding-top: 8rem;
  padding-left: 4rem;
}

section.terms-and-condition-header div.description p {
  padding-top: 5rem;
  padding-left: 11rem;
  padding-right: 9rem;
  padding-bottom: 5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  color: #000000;
}

/*Privacy Page*/

section.privacy div.header {
  height: 300px;
  grid-template-columns: 1fr 11fr;
  display: grid;
  background: #10b981;
}

section.privacy div.header h4 {
  padding-left: 3rem;
  padding-top: 5rem;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 37px;
  color: #ffffff;
}

section.privacy div.header h1 {
  padding-left: 3rem;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  color: #ffffff;
}

section.privacy div.header p {
  padding-left: 3rem;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
}

section.privacy div.description h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  color: #000000;
}

section.privacy div.description p {
  padding-left: 11rem;
  padding-right: 9rem;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  color: #000000;
}

section.privacy div.header div.image {
  padding-top: 8rem;
  padding-left: 4rem;
}

/*CONTACT*/
section.contact-us div.contact div.form div.contactform {
  left: 768px;
  top: 187px;
  background: #ffffff;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

section.contact-us div.contact div.form div.contactform form.textbox {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

section.contact-us
  div.contact
  div.form
  div.contactform
  form.textbox
  input.name {
  padding-top: 1rem;
  width: 419px;
  height: 50px;
  left: 821px;
  top: 279px;

  background: #f5f5f5;
  border-radius: 5px;
}

section.contact-us
  div.contact
  div.form
  div.contactform
  form.textbox
  input.email {
  width: 419px;
  height: 50px;
  left: 821px;
  top: 395px;

  background: #f5f5f5;
  border-radius: 5px;
}

section.contact-us
  div.contact
  div.form
  div.contactform
  form.textbox
  input.message {
  width: 419px;
  height: 112px;
  left: 821px;
  top: 511px;

  background: #f5f5f5;
  border-radius: 5px;
}
